<form [formGroup]="loginForm" class="mt-4 mb-1" (ngSubmit)="login()" role="form">
    <legend>Welcome to AssBook!</legend>

    <div class="mb-3">
        <label for="name">Email:</label>
        <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            formControlName="email"
            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')"
        />
        @if(email.errors?.['required']) {
        <div class="invalid-feedback">Email is required.</div>
        } @if(email.errors?.['email']) {
        <div class="invalid-feedback">This must have an email format.</div>
        }
    </div>

    <div class="mb-3">
        <label for="password">Password:</label>
        <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Password"
            [ngClass]="validClasses(password, 'is-valid', 'is-invalid')"
        />
        @if(password.errors?.["required"]) {
        <div class="invalid-feedback">Password is required.</div>
        }
    </div>
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
    >
        Login
    </button>
    <div googleLogin class="btn"></div>
    
</form>

<button
        fbLogin
        [scopes]="['email', 'public_profile']"
        class="btn btn-primary"
        (loginOk)="loggedFacebook($event)"
        (loginError)="showError($event)"
    >
        <fa-icon [icon]="iconFacebook"></fa-icon>
        Login con Facebook
</button>