.card-text {
    white-space: pre-wrap;
}

.card-footer .avatar img {
    width: 50px;
    cursor: pointer;
}

.card-footer .name {
    color: #385898;
    font-weight: bold;
    cursor: pointer;
}

.card-footer .name:hover {
    text-decoration: underline;
}

.card.border-success {
    box-shadow: 0 .5rem 1rem rgba(0,80,0,.2) !important;
}

.card.border-danger {
    box-shadow: 0 .5rem 1rem rgba(140,0,0,.2) !important;
}