<div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">AssBook</a>
    @if(logged()) {
    <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/posts']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                Home
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/posts/add']"
                [routerLinkActive]="['active']"
            >
                New post
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/profile']"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                My profile
            </a>
        </li>
    </ul>
    }
    <ul class="navbar-nav">
        @if(logged()) {
        <li class="nav-item">
            <a
                class="nav-link"
                [routerLink]="['/auth/login']"
                (click)="logout()"
            >
                Logout
            </a>
        </li>
        } @else {
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/login']"> Login </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/auth/register']"> Register </a>
        </li>
        }
    </ul>
</div>
