bm-map {
    display: block;
    height: 300px;
    width: 600px;
}

#profile form:has(#avatar) {
    position: relative;
    & > label {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  