<div class="row mt-4" id="profile">
    <div class="col-3">
        <form [formGroup]="imageForm">
            <img class="w-100" [src]="user.avatar" alt="" />
            @if( user.me ) {
            <label class="btn btn-sm btn-danger">
                <i class="fa-regular fa-image"></i>
                <input
                    type="file"
                    formControlName="image"
                    id="avatar"
                    class="d-none"
                    (change)="updateProfilePicture($event)"
                    [ngClass]="validClasses(image, 'is-valid', 'is-invalid')"
                />
            </label>
            } 
        </form>
       @if(image.errors?.['extension']) {
            <small class="text-danger">
                Photo extensions allowed are .jpg, .jpeg, .gif, .png and .bmp
            </small>
            }
    </div>

    <div class="col-9">
        <div class="row">
            <div class="col-9" id="profileInfo">
                <!--  Cambiar h4 por inputs con un botón -->
                <h4 id="name">{{ user.name }}</h4>
                <h4 id="email">
                    <small class="text-muted">{{ user.email }}</small>
                </h4>
                <!-- Añadir campo de modificar password que muestre 2 campos -->
                @if( user.me ) {
                <div>
                    <button class="btn btn-primary me-2" id="editProfile" (click)="toggleProfile()"
                    [disabled]="editPassword">
                        <i class="fa-regular fa-pen-to-square"></i>
                        Edit profile
                    </button>
                    <button class="btn btn-success" id="editPassword" (click)="togglePassword()"
                    [disabled]="editProfile">
                        <i class="fa-solid fa-lock"></i>
                        Edit password
                    </button>
                </div>
                }
            </div>
            <div class="col-9 mt-3" id="profileForm" 
                [ngClass]="{'d-none' : !editProfile}" >
                <form [formGroup]="editProfileForm" novalidate>
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input
                            type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Email"
                            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')"
                        />
                        @if(email.errors?.['required']) {
                            <div class="invalid-feedback">Email is required.</div>
                        } @if(email.errors?.['email']) {
                            <span class="invalid-feedback">This must have an email format.</span>
                        }
                        <label for="name">Name:</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="name"
                            placeholder="Name"
                            [ngClass]="validClasses(name, 'is-valid', 'is-invalid')"
                        />
                        @if(name.errors?.['required']) {
                            <div class="invalid-feedback">Name is required.</div>
                        } 
                    </div>
                    <button (click)="submitEdit()" class="btn btn-primary" [disabled]="editProfileForm.invalid">
                        Save changes
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger ms-2"
                        id="cancelEditProfile"
                        (click)="closeEdit()"
                    >
                        Cancel
                    </button>
                </form>
            </div>
    
            <div class="col-9 mt-3" id="passwordForm" 
                [ngClass]="{'d-none' : !editPassword}" >
                <form [formGroup]="editPasswordForm" novalidate>
                    <div class="mb-3">
                        <label for="password">Password:</label>
                        <input
                            type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Password"
                            [ngClass]="validClasses(password, 'is-valid', 'is-invalid')"
                        />
                        @if(password.errors?.['required']) {
                            <div class="invalid-feedback">Password is required.</div>
                        } 
                        @if(password.errors?.["minlength"]) {
                            <div class="invalid-feedback">Password must be at least 4 characters long.</div>
                        }
                        <label for="password2">Repeat password:</label>
                        <input
                            type="password"
                            class="form-control"
                            formControlName="passwordConfirm"
                            placeholder="Repeat password"
                            [ngClass]="{
                                'is-valid':
                                    passwordConfirm.touched &&
                                    passwordConfirm.valid &&
                                    passwordConfirm.value &&
                                    editPasswordForm.valid,
                                'is-invalid':
                                    (passwordConfirm.touched && passwordConfirm.invalid) ||
                                    (editPasswordForm.invalid && passwordConfirm.touched)
                            }"
                        />
                        @if(password.errors?.['required']) {
                            <div class="invalid-feedback">Password is required.</div>
                        } 
                        @if(editPasswordForm.errors?.["match"]) {
                            <div class="invalid-feedback">Passwords must match.</div>
                        }
                    </div>
                    <button (click)="submitPassword()" class="btn btn-primary" [disabled]="editPasswordForm.invalid">
                        Save changes
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger ms-2"
                        id="cancelEditPassword"
                        (click)="closeEdit()"
                    >
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row mb-5">
    <div class="col mb-4">
        <bm-map [coords]="coordinates">
            <bm-marker [coords]="coordinates" color="blue"></bm-marker>
        </bm-map>
    </div>
    <div class="col">
        <div class="list-group">
            <li class="list-group-item">
                <a
                    [routerLink]="['/posts']"
                    [queryParams]="{ creator: user.id }"
                    class="ms-auto me-auto"
                >
                    See all {{ user.name }}'s posts
                </a>
            </li>
        </div>
    </div>
</div>
